@CHARSET "UTF-8";
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        min-height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
	
	/* maps */
	  #map_canvas { 
		min-width: 280px;
		min-height: 280px;
		max-height: 300px;
		max-width: 300px;
	  }

       @media (min-width: 985px) {
                .potholes-map {
                        width:570px;
                        height:700px;
                }
        }

	  .image-center {
	  	margin: 0 auto;
	  }
      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */
	@media (min-width: 985px) {	
		#wrap > .container {
        		padding-top: 60px;
      		}
	}
      
      .container .credit {
        margin: 20px 0;
      }

	/* Fine Uploader
      -------------------------------------------------- */
      .qq-upload-list {
        text-align: left;
      }
 
      /* For the bootstrapped demos */
      li.alert-success {
        background-color: #DFF0D8;
      }
 
      li.alert-error {
        background-color: #F2DEDE;
      }
 
      .alert-error .qq-upload-failed-text {
        display: inline;
      }

	/* Social buttons */

	ul.social-buttons li {
		height: 25px;
		vertical-align: top;
	}

	.twitter-follow-button {
		vertical-align: middle;
	}
